[submodule "advent-day1"]
	path = advent-day1
	url = git@github.com:johngillen/advent-day1
[submodule "advent-day2"]
	path = advent-day2
	url = git@github.com:johngillen/advent-day2
[submodule "advent-day3"]
	path = advent-day3
	url = git@github.com:johngillen/advent-day3
[submodule "advent-day4"]
	path = advent-day4
	url = git@github.com:johngillen/advent-day4
[submodule "advent-day5"]
	path = advent-day5
	url = git@github.com:johngillen/advent-day5
